html, #root, body, .App{
  height: 100%;
  background: #0e0d0d;
}


.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rSubmitTitle{
  text-align: center;
  font-size: 24px;
  color: whitesmoke;
}

.ratingResult{
  display: flex;
  justify-content: center;
  align-items: center;
}

.ratingResult h2{
  text-align: center;
  font-size: 12px;
  color: #FC7614;
  background: #272E37;
  border-radius: 18px;
  width: 200px;
  padding: 10px;
}

.Rating p{
  text-align: left;
}

.ratingBox{
  width: 300px;
  height: 300px;
  padding: 40px;
  background: #1C222D;
  border-radius: 20px;
}

.ratingBox h1{
  color: whitesmoke;
  font-size: 24px;
}

.ratingBox p{
  color: #818991;
  font-size: 14px;
}

.starImage{
  width: 20px;
  height: 20px;
  background: #303a42;
  border-radius: 100%;
  padding: 7px;
  margin-bottom: 8px;
}

.imgBlock{
  width: 100%;
  display: flex;
  justify-content: center;
}

.Rating{
}

.buttonLine{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.roundButton{
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: #272E37;
  border: #272E37;
  color: #b2b2b2;
  cursor: pointer;
}

.roundButton:hover{
  background: whitesmoke;
}


.roundButton:focus{
  background: #FC7614;
  color: white;
}

.submitButton{
  margin-top: 35px;
  width: 100%;
  border-radius: 20px;
  padding: 10px;
  border: #FC7614;
  background: #FC7614;
  color: whitesmoke;
}

.submitButton:hover{
  background: whitesmoke;
  color: #FC7614;
}

